body{font-family: Microsoft YaHei;}
em, i {
    font-style: normal;
}
.weui-tab .weui-navbar .weui-bar__item_on {
    background: none;
    color: #2cbd32;
    border-bottom: 3px solid #2cbd32;
}
.weui-navbar a{color:#666;display: block;height: 100%;width: 100%;}
.pd_lr10 {
    padding: 0px 10px!important;
}
.weui_cells {
    background: none;
    margin-top: 0.5em;
}
.w_100 {
    width: 100%!important;
}
.mg_0 {
    margin: 0px!important;
}
.weui_cell {
    width: 100%;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
}
.weui_cell_bd {
    padding: 0px 10px;
    position: relative;
}
.w_20 {
    width: 20%!important;
}
.w_80 {
    width: 80%!important;
}
.fz_14 {
    font-size: 14px!important;
}
.color_black {
    color: #000!important;
}
.c_float {
    overflow: hidden;
}
.color_gray {
    color: #686868!important;
}
.userinfo{
	padding: 10px;
}
.weui-media-box__thumb{
	border-radius: 50%;
	width:60px;
}
.color3 {
    color: #e51e6d;
}
.text_r {
    text-align: right;
}
.fonts85 {
    font-size: 0.85em;
}
.logout{padding: 30% 15%;}
.welcome{color: #3cc51f;}